*.o
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
aclocal.m4
compile
depcomp
ltmain.sh
libtool
install-sh
missing
stamp-h1
dummy-config.h*
